<div id="title">
<h1>{{title}}</h1>
<h2>{{subtitle}}</h2>

</div>
<div class="myFoto">
    <img src="../../../assets/img/kryslyn.jpg" alt="myFoto">
</div>
<article class="about"> 
<h2>Sobre mi</h2>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Provident dolores, consequuntur voluptas asperiores qui,
      totam officia laborum esse iusto sunt nemo saepe aliquam corrupti 
      ex voluptate blanditiis similique mollitia. Illum!
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Provident dolores, consequuntur voluptas asperiores qui,
       totam officia laborum esse iusto sunt nemo saepe aliquam corrupti 
       ex voluptate blanditiis similique mollitia. Illum!
</p>
</article>
