<div class="bxslider">
    <div><img src="/assets/img/gal1.png" title="Responsive design"></div>
    <div><img src="/assets/img/gal2.png" title="Web design"></div>
    <div><img src="/assets/img/gal3.jpg" title="Web design"></div>
    <div><img src="/assets/img/gal4.jpg" title="Web design"></div>
  </div>
  
  <h1 class="h1-gal">Responsive Design</h1>
  <p class="p-gal">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum soluta voluptate sapiente est ab?
    Aliquid suscipit at autem maiores explicabo omnis, rerum assumenda distinctio consequuntur incidunt
    cumque voluptate qui excepturi.Aliquid suscipit at autem maiores explicabo omnis, rerum assumenda distinctio
    consequuntur incidunt
    cumque voluptate qui excepturi.Rerum soluta voluptate sapiente est ab?
    Aliquid suscipit at autem maiores explicabo omnis, rerum assumenda distinctio consequuntur incidunt
    cumque voluptate qui excepturi.Aliquid suscipit at autem maiores explicabo omnis, rerum assumenda distinctio
    consequuntur incidunt
    cumque voluptate qui excepturi.</p>
