<header>
<ul>
  <li><a [routerLink]="['/about']" [routerLinkActive]="['active']">About</a></li>
  <li><a [routerLink]="['/projects']" [routerLinkActive]="['active']">Projects</a></li>
  <li id="logo"><a href="#">KK</a></li>
  <li><a [routerLink]="['/create']" [routerLinkActive]="['active']">Create</a></li>
  <li><a [routerLink]="['/gallery']" [routerLinkActive]="['active']">Gallery</a></li>
</ul>
</header>

<section id="content">
<router-outlet></router-outlet>
</section>

<footer>
Master of Angular &copy;
</footer>